.sidHam{
    height: 14px;
    width: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    

    .line-1,.line-2{
        height: 2px;
        width: 100%;
        background-color: #BFC5D2;
    }
    .line-3{
        height: 2px;
        width: 70%;
        background-color: #BFC5D2;
    }
}